In [39]:
import pandas as pd
import numpy as np
import glob
import os

In [40]:
path = os.getcwd()
csv_files = glob.glob(os.path.join("data/car/", "*.csv"))

csv_files

['data/car/bmw.csv']

In [41]:
car_data = []
for file_name in csv_files:
    data = pd.read_csv(file_name)
    if file_name[9:-4] == 'cclass':
        data['brand'] = 'merc'
    else:
        data['brand'] = f'{file_name[9:-4]}'
    car_data.append(data)

In [42]:
car_data = pd.concat(car_data, ignore_index=True)

In [43]:
car_data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0,bmw
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0,bmw
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0,bmw
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5,bmw
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0,bmw
...,...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0,bmw
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0,bmw
10778,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0,bmw
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0,bmw
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0,bmw

In [44]:
car_data['name'] = car_data['brand']+" "+car_data['model']

In [45]:
car_data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand,name
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0,bmw,bmw 5 Series
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0,bmw,bmw 6 Series
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0,bmw,bmw 5 Series
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5,bmw,bmw 1 Series
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0,bmw,bmw 7 Series
...,...,...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0,bmw,bmw X3
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0,bmw,bmw 5 Series
10778,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0,bmw,bmw 3 Series
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0,bmw,bmw 1 Series
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0,bmw,bmw X1

In [46]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10781 entries, 0 to 10780
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10781 non-null  object
 1   year          10781 non-null  int64
 2   price         10781 non-null  int64
 3   transmission  10781 non-null  object
 4   mileage       10781 non-null  int64
 5   fuelType      10781 non-null  object
 6   tax           10781 non-null  int64
 7   mpg           10781 non-null  float64
 8   engineSize    10781 non-null  float64
 9   brand         10781 non-null  object
 10  name          10781 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 926.6+ KB

In [47]:
car_data.isnull().sum()

model           0
year            0
price           0
transmission    0
mileage         0
fuelType        0
tax             0
mpg             0
engineSize      0
brand           0
name            0
dtype: int64

In [48]:
car_data.dropna(inplace=True)

In [49]:
car_data.duplicated().sum()

117

In [50]:
car_data.drop_duplicates(inplace=True)

In [51]:
car_data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10664 entries, 0 to 10780
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   model         10664 non-null  object
 1   year          10664 non-null  int64
 2   price         10664 non-null  int64
 3   transmission  10664 non-null  object
 4   mileage       10664 non-null  int64
 5   fuelType      10664 non-null  object
 6   tax           10664 non-null  int64
 7   mpg           10664 non-null  float64
 8   engineSize    10664 non-null  float64
 9   brand         10664 non-null  object
 10  name          10664 non-null  object
dtypes: float64(2), int64(4), object(5)
memory usage: 999.8+ KB

In [52]:
car_data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand,name
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0,bmw,bmw 5 Series
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0,bmw,bmw 6 Series
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0,bmw,bmw 5 Series
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5,bmw,bmw 1 Series
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0,bmw,bmw 7 Series
...,...,...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0,bmw,bmw X3
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0,bmw,bmw 5 Series
10778,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0,bmw,bmw 3 Series
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0,bmw,bmw 1 Series
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0,bmw,bmw X1

In [53]:
car_data['description'] = car_data['year'].map(str)+car_data['transmission']+car_data['engineSize'].map(str)+car_data['fuelType']+car_data['mpg'].map(str)+car_data['mileage'].map(str)

In [54]:
car_data

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize,brand,name,description
0,5 Series,2014,11200,Automatic,67068,Diesel,125,57.6,2.0,bmw,bmw 5 Series,2014Automatic2.0Diesel57.667068
1,6 Series,2018,27000,Automatic,14827,Petrol,145,42.8,2.0,bmw,bmw 6 Series,2018Automatic2.0Petrol42.814827
2,5 Series,2016,16000,Automatic,62794,Diesel,160,51.4,3.0,bmw,bmw 5 Series,2016Automatic3.0Diesel51.462794
3,1 Series,2017,12750,Automatic,26676,Diesel,145,72.4,1.5,bmw,bmw 1 Series,2017Automatic1.5Diesel72.426676
4,7 Series,2014,14500,Automatic,39554,Diesel,160,50.4,3.0,bmw,bmw 7 Series,2014Automatic3.0Diesel50.439554
...,...,...,...,...,...,...,...,...,...,...,...,...
10776,X3,2016,19000,Automatic,40818,Diesel,150,54.3,2.0,bmw,bmw X3,2016Automatic2.0Diesel54.340818
10777,5 Series,2016,14600,Automatic,42947,Diesel,125,60.1,2.0,bmw,bmw 5 Series,2016Automatic2.0Diesel60.142947
10778,3 Series,2017,13100,Manual,25468,Petrol,200,42.8,2.0,bmw,bmw 3 Series,2017Manual2.0Petrol42.825468
10779,1 Series,2014,9930,Automatic,45000,Diesel,30,64.2,2.0,bmw,bmw 1 Series,2014Automatic2.0Diesel64.245000
10780,X1,2017,15981,Automatic,59432,Diesel,125,57.6,2.0,bmw,bmw X1,2017Automatic2.0Diesel57.659432

In [55]:
car_data['description'][0]

'2014Automatic2.0Diesel57.667068'

In [56]:
car_data['description'] = car_data['description'].apply(lambda x:x.lower())
car_data['name'] = car_data['name'].apply(lambda x:x.lower())

In [57]:
car_data = car_data[['name','description']]

In [58]:
car_data.head()

            name                      description
0  bmw  5 series  2014automatic2.0diesel57.667068
1  bmw  6 series  2018automatic2.0petrol42.814827
2  bmw  5 series  2016automatic3.0diesel51.462794
3  bmw  1 series  2017automatic1.5diesel72.426676
4  bmw  7 series  2014automatic3.0diesel50.439554

In [59]:
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000, stop_words='english')

In [60]:
cv.fit_transform(car_data['description']).toarray().shape

(10664, 5000)

In [61]:
vectors = cv.fit_transform(car_data['description']).toarray()

In [62]:
vectors[0]

array([0, 0, 0, ..., 0, 0, 0])

In [63]:
len(cv.get_feature_names_out())

5000

In [64]:
from nltk.stem import PorterStemmer
ps = PorterStemmer()

In [65]:
def stem(text):
  y = []
  for i in text.split():
    y.append(ps.stem(i))
  return " ".join(y)

In [66]:
car_data['description'] = car_data['description'].apply(stem)

/var/folders/0p/qfc8rrf97d90w30khlls6ryr0000gn/T/ipykernel_8192/3859994593.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  car_data['description'] = car_data['description'].apply(stem)

In [67]:
from sklearn.metrics.pairwise import cosine_similarity

In [83]:
similarity = cosine_similarity(vectors)

/Users/anuragvuppala/personal/car-recommendation-system/carVM/lib/python3.9/site-packages/sklearn/utils/extmath.py:189: RuntimeWarning: invalid value encountered in matmul
  ret = a @ b

In [69]:
vectors.size

53320000

In [70]:
similarity.shape

(10664, 10664)

In [71]:
similarity[0]

array([1.        , 0.        , 0.        , ..., 0.        , 0.33333333,
       0.33333333])

In [72]:
sorted(list(enumerate(similarity[0])), reverse= True, key= lambda x:x[1])[1:6]

[(78, 0.6666666666666669),
 (4034, 0.6666666666666669),
 (7464, 0.6666666666666669),
 (7487, 0.6666666666666669),
 (7488, 0.6666666666666669)]

In [79]:
def recommend(car):
    car_index = car_data[car_data['name'] == car].index[0]
    distance = similarity[car_index]
    car_list = sorted(list(enumerate(distance)), reverse= True, key= lambda x:x[1])[1:6]

    for i in car_list:
        print(car_data.iloc[(0)].name)

In [82]:
recommend('bmw 3 series')

IndexError: index 0 is out of bounds for axis 0 with size 0